# Ignore the node_modules folder
node_modules/

# Ignore uploads folder
uploads/

# Ignore redis binary dump files
*.rdb

# Ignore environment file
.env
.env.development
.env.production

# Ignore production logs
production-logs/