<link rel="stylesheet" href="/css/chat_box.css" />
<% if (locals.user) { %>
<div id="user-chat-box" class="container d-flex justify-content-center">
  <div class="card mt-5">
    <div
      class="d-flex flex-row justify-content-between p-3 chat-header text-white"
    >
      <span class="pb-3">Chat</span>
      <i class="fas fa-times"></i>
    </div>
    <ul id="chat-messages-list">
      <!--* To be populated by chat messages. -->
    </ul>
    <div
      id="chat-message-input-container"
      class="d-flex justify-content-between align-items-center"
    >
      <div
        class="col-sm-9 col-xs-9 form-group px-3 position-absolute bottom-0 start-0"
      >
        <input
          id="chat-message-input"
          class="form-control"
          placeholder="Type your message..."
        />
      </div>
      <div
        class="col-sm-2 col-xs-2 form-group position-absolute bottom-0 end-0"
      >
        <button id="send-message" class="btn btn-outline-success btn-sm">
          <i class="fa fa-send fa-2x"></i>
        </button>
      </div>
      <div class="col-sm-1 col-xs-1 form-group"></div>
    </div>
  </div>
</div>
<% } %>
