<link rel="stylesheet" href="/css/user-sign-up.css" />

<div class="signup-form">
  <form action="/reset-password/generate-token" method="POST">
    <h2>Reset your password</h2>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input class="form-control" type="email" name="email" required />
    </div>
    <div>
      <h6 class="mt-3 mb-3">
        An email with the password reset link will be sent to your email id.
      </h6>
    </div>
    <div class="text-center">
      <button type="submit" value="Sign In" class="btn btn-warning">
        Reset
      </button>
    </div>
  </form>
</div>
