/* body {
  color: #797979;
  background: #ddd;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin-top: 20px;
}

.post-body {
  background: #fff;
}

a:hover {
  text-decoration: none;
}

.user-thumb {
  float: left;
  width: 70px;
  margin-right: 15px;
}

.user-thumb img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.user-details h3 {
  margin: 15px 0 0;
  font-size: 18px;
  font-weight: 300;
}

.user-details p {
  color: #c3c3c3;
}

.user-status {
  padding: 10px 0;
  line-height: 20px;
}

.actions {
  padding: 15px 0;
}

.border {
  border-top: 1px solid #ebeef5;
}

.actions span,
.actions a {
  margin-right: 5px;
}

.actions a {
  color: #2972a1;
}

.actions a:hover {
  text-decoration: underline;
}

.actions span {
  color: #5a5a5a;
}

.status-container,
.post-comments li {
  margin: 0 -15px 0 -15px;
  padding: 0 15px;
}

.gray-bg {
  background: #f6f6f6;
}

.post-comments li {
  border-top: 1px solid #ebeef5;
  padding: 15px;
}

.post-comments .user-comment-thumb {
  width: 50px;
  float: left;
  margin-right: 15px;
}

.post-comments .user-comment-thumb img {
  width: 50px;
}

.post-comments .comment-details {
  padding-top: 5px;
}

.post-comments .comment-details a {
  font-size: 14px;
  font-weight: bold;
}

.post-comments .comment-details a .toggle-like-button {
  font-size: 12px;
  font-weight: normal;
}

.comment-form {
  display: inline-block;
  width: 90%;
}

.comment-form textarea {
  height: 50px;
  line-height: 35px;
}

.post-comments {
  list-style-type: none;
} */
